.parent_div {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 80px;
  margin-top: 50px;
}

.Benefits_Section {
  background: #f5f5f6;
  border: none;
  /* padding: 10px 20px; */
  /* font-size: 16px; */
  width: 130px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 30px; */
  border-radius: 6px;
  font-weight: 700;
  /* border-bottom: 3px solid slategray; */
  box-shadow: 0 3px 0px slategray;
}

.icon {
  color: #f59e0b;
  margin-right: 5px;
  font-size: 16px;
}

.heading {
  color: #1b2755;
  font-size: 24px;
}

p {
  color: #6b7280;
  font-size: 20px;
}

.all_Icon_div {
  width: 50px;
  margin-top: 25px;
  height: 50px;
  background-color: gainsboro;
  border-radius: 8px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 24px;
}

.img_Container {
  height: 410px;
  width: 590px;
  border-radius: 18px;
  margin-top: 100px;
  padding: 18px;
  background: linear-gradient(#ffd6c2, white);
}

.img {
  width: 100%;
  border-radius: 12px;
}
